<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
 
  <servlet>
      <servlet-name>ContactServlet</servlet-name>
      <servlet-class>com.lxisoft.byta.controller.ContactServlet</servlet-class>
   </servlet>
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>ContactServlet</servlet-name>
      <url-pattern>/ContactServlet</url-pattern>
   </servlet-mapping>
   
   <servlet>
		<servlet-name>ContactUpdateServlet</servlet-name>
		<servlet-class>com.lxisoft.byta.controller.ContactUpdateServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
	  <servlet-name>ContactUpdateServlet</servlet-name>
	  <url-pattern>/ContactUpdateServlet </url-pattern>
   </servlet-mapping>
   
   
  <resource-ref>
	<description>Primary database</description>
	<res-ref-name>jdbc/contactinfo</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>container</res-auth>
   </resource-ref>
   
   
   
   </web-app>