<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@ page errorPage="error.jsp" %>
<!DOCTYPE html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css\bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css\mystyle.css">
	<meta charset="UTF-8">
</head>
<body>
	<div class="jumbotron top">
	<img class="img-fluid contacts_icon" src="Images\contacts_2.png" alt="Contacts_icon">	
	<h2><%= props.getProperty("contacts")%></h2>
	</div>
		
 	<div class="container">
 	<div class="text-center no-padding">
		<img src="Images\done1.gif" class="done">
		<% response.setHeader("Refresh","4;url=getAll");%>		
 			
 	</div>
 	</div>

</body>
</html>