  <web-app>

<servlet>
<servlet-name>sample</servlet-name>
<servlet-class>com.lxisoft.controller.ContactServlt</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>sample</servlet-name>
<url-pattern>/sampleUrl</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>contact</servlet-name>
  <servlet-class>com.lxisoft.controller.UpdateServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>contact</servlet-name>
  <url-pattern>/updateUrl</url-pattern>
</servlet-mapping>


  <resource-ref>
  <description>Primary database</description>
  <res-ref-name>jdbc/contactServlet</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>container</res-auth>
   </resource-ref>


    <security-constraint>
      <web-resource-collection>
     <web-resource-name>ContactServletV1.0.3</web-resource-name>
          <url-pattern>/createContact.jsp/*</url-pattern>
          <url-pattern>/removeContact.jsp/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
      </web-resource-collection>
     <auth-constraint>
            <role-name>manager</role-name>
       </auth-constraint>
  </security-constraint>
   
   <security-role>
      <role-name>manager</role-name>
   </security-role>
   
   <login-config>
      <auth-method>FORM</auth-method>
      <form-login-config>
         <form-login-page>/login.jsp</form-login-page>
       </form-login-config>
       <realm-name>authority</realm-name>
   </login-config>
</web-app>