<web-app>
     
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.lxisoft.byta.control.ContactServlet</servlet-class>
    </servlet>
		
	<resource-ref>
	<description>MySQL Datasource example</description>
	<res-ref-name>jdbc/Contacts</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
  </resource-ref>
  
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
	
	
	
	
	 <servlet>
        <servlet-name>ContactServlet2</servlet-name>
        <servlet-class>com.lxisoft.byta.control.ContactServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactServlet2</servlet-name>
        <url-pattern>/ContactServlet2</url-pattern>
    </servlet-mapping>
	
	
	<security-constraint>
      <web-resource-collection>
         <web-resource-name>ContactServlet</web-resource-name>
         <url-pattern>/ContactServlet/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
      </web-resource-collection>
      
      <auth-constraint>
         <description>Let only intern and employee use this app</description>
         <role-name>Intern</role-name>
		 <role-name>Employee</role-name>
      </auth-constraint>
   </security-constraint>
   
   <security-role>
      <role-name>Intern</role-name>
	  <role-name>Employee</role-name>
   </security-role>
   
   <login-config>
      <auth-method>BASIC</auth-method>
      <form-login-config>
         <form-login-page>/index.jsp</form-login-page>
         <form-error-page>/login.jsp</form-error-page>
      </form-login-config>
   </login-config>
   
   
    
    <display-name>Log4jWebDemo1</display-name>
     
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
  
	

  
  
  
</web-app>